.footer {
  flex-shrink: 0;
  background-color: white;
  padding: 100px;
}

.icons {
  text-align: center;
  font-size: 50px;
  display: block;
}

.socialMedia {
  float: left;
  width: 20%;
  margin-right: 30%;
  padding-top: 2%;
}

.location {
  float: right;
  margin-left: 30%;
  width: 20%;
  display: block;
}

#findus {
  font-size: 30px;
  font-family: big caslon;
}

.sponsorContainer {
  display: flex;
  width: 100%;
}

.sponsor1 {
  width: 30%;
  margin-left: 10%;
  margin-right: 10%;
}

.sponsor2 {
  width: 30%;
  padding-top: 8%;
  margin-left: 10%;
  margin-right: 10%;
}

#locationIcon {
  padding-top: 15%;

  font-size: 40px;
}

.copyright {
  border-top: 1px solid black;
}
