.main2 {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  color: #ffffff;

  font-size: 14px;
  text-transform: uppercase;

  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;

  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.machineName {
  background-color: orange;
  color: White;
}

.card {
  color: white;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  outline: 0;
  border: none;
}

.card_content {
  background: orange;
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;

  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
}

.card_image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
  height: auto;
}

.card span {
  padding-bottom: 0px;
}

/* fade over image */

.main-title {
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

@media screen and (max-width: 640px) {
  .container {
    display: block;
    width: 100%;
  }
}

.container .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.cards_item {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.cards_item .content-overlay {
  background: rgba(255, 165, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.cards_item:hover .content-overlay {
  opacity: 1;
}

.machineName {
  position: relative;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;

  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.cards_item:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.cards_item:hover {
  cursor: pointer;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}
