.outer-div-kompressor {
  background-image: url("../images/productBackground/kompressor.png");
  padding: 30px;
  background-color: #f3f3f3;
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.inner-div-kompressor {
  width: 40%;
  max-width: 800px;
  height: 100px;
  margin-top: 80px;
  word-wrap: break-word;
  border-radius: 3px;
}

.outer-div-elektrostapler {
  background-image: url("../images/productBackground/Elektrostapler.png");
  padding: 30px;
  background-color: #f3f3f3;
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.inner-div-elektrostapler {
  width: 40%;
  max-width: 800px;
  height: 100px;
  margin-top: 80px;
  word-wrap: break-word;
  border-radius: 3px;
}

.outer-div-elektrohochhubwagen {
  width: auto;
  background-image: url("../images/productBackground/gehubwagen.png");
  background-image: url("../images/productBackground/elektrohochhubwagen.png");
  padding: 30px;
  background-color: #f3f3f3;
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.inner-div-elektrohochhubwagen {
  width: 40%;
  max-width: 800px;
  height: 100px;
  margin-top: 80px;
  word-wrap: break-word;
  border-radius: 3px;
}

.outer-div-elektrogehhubwagen {
  width: auto;
  background-image: url("../images/productBackground/gehubwagen.png");
  padding: 30px;
  background-color: #f3f3f3;
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.inner-div-elektrogehhubwagen {
  width: 40%;
  max-width: 800px;
  height: 100px;
  margin-top: 80px;
  word-wrap: break-word;
  border-radius: 3px;
}

.outer-div-personenlift {
  width: auto;
  background-image: url("../images/productBackground/personenlift.png");
  padding: 30px;
  background-color: #f3f3f3;
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.inner-div-personenlift {
  width: 40%;
  max-width: 800px;
  height: 100px;
  margin-top: 80px;
  word-wrap: break-word;
  border-radius: 3px;
}

.outer-div-raupenbuhne {
  width: auto;
  background-image: url("../images/productBackground/raupenbuhne.png");
  padding: 30px;
  background-color: #f3f3f3;
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.inner-div-raupenbuhne {
  width: 40%;
  max-width: 800px;
  height: 100px;
  margin-top: 80px;
  word-wrap: break-word;
  border-radius: 3px;
}

.outer-div-scherenbuhne {
  width: auto;
  background-image: url("../images/productBackground/scherenbuhne.png");
  padding: 30px;
  background-color: #f3f3f3;
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.inner-div-scherenbuhne {
  width: 40%;
  max-width: 800px;
  height: 100px;
  margin-top: 80px;
  word-wrap: break-word;
  border-radius: 3px;
}

.outer-div-selbstfahrer {
  width: auto;
  background-image: url("../images/productBackground/selbsfahrer.png");
  padding: 30px;
  background-color: #f3f3f3;
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.inner-div-selbstfahrer {
  width: 40%;
  max-width: 800px;
  height: 100px;
  margin-top: 80px;
  word-wrap: break-word;
  border-radius: 3px;
}

.outer-div-teleskopbuhne {
  width: auto;
  background-image: url("../images/productBackground/teleskopbuhne.png");
  padding: 30px;
  background-color: #f3f3f3;
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.inner-div-teleskopbuhne {
  width: 40%;
  max-width: 800px;
  height: 100px;
  margin-top: 80px;
  word-wrap: break-word;
  border-radius: 3px;
}

.outer-div-teleskopstapler {
  width: auto;
  background-image: url("../images/productBackground/teleskostapler.png");
  padding: 30px;
  background-color: #f3f3f3;
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.inner-div-teleskopstapler {
  width: 40%;
  max-width: 800px;
  height: 100px;
  margin-top: 80px;
  word-wrap: break-word;
  border-radius: 3px;
}

h2 {
  text-align: center;
  color: white;
  font-size: 40px;
}
