/* Container holding the image and the text */
body{
  font-family: Impact MT;
}

  .outer-div-kompressor
  {
    background-image: url("../images/Machines/kompressor2.png");
    padding: 30px;
    background-color: #f3f3f3;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .inner-div-kompressor
  {
    width: 40%;
    max-width: 800px;
    height: 100px;
    margin-top:80px;
    word-wrap: break-word;
    border-radius: 3px;
  }
  
  .outer-div-elektrostapler
  {
    background-image: url("../images//Machines/Elektrostapler.jpg");
    padding: 30px;
    background-color: #f3f3f3;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .inner-div-elektrostapler
  {
    width: 40%;
    max-width: 800px;
    height: 100px;
    margin-top:80px;
    word-wrap: break-word;
    border-radius: 3px;
  }

  .outer-div-elektrohochhubwagen
  {
    width: auto;
    background-image: url("../images/Machines/elektrogehhubwagen2.jpg");
    padding: 30px;
    background-color: #f3f3f3;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .inner-div-elektrohochhubwagen
  {
    width: 40%;
    max-width: 800px;
    height: 100px;
    margin-top:80px;
    word-wrap: break-word;
    border-radius: 3px;
  }

h2{
  text-align: center;
  color: white;
  font-size: 40px;
}
